.header__square-pic {
  height: 568px;
  width: 568px;
  background-color:#2f80ed;
  position: absolute;
  right: 0;
  top: 25%;
  z-index: 0;
}

@media (max-width: 1279px) {
  .header__square-pic {
    width: 500px;
    height: 500px;
  }
}

@media (max-width: 1023px) {
  .header__square-pic {
    width: 400px;
    height: 400px;
    right: -100px;
  }
}

@media (max-width: 767px) {
  .header__square-pic {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 424px) {
  .header__square-pic {
    width: 250px;
    height: 250px;
    top: 35%;
  }
}
