.page {
  /* Контейнер */
  min-width: 320px;
  max-width: 1600px;
  margin: 0 auto;
  /* Основные настроки страницы */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  /* Оптимизация шрифтов */
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
