.footer__columns {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

@media (max-width: 767px) {
  .footer__columns {
    flex-direction: column;
    gap: 20px;
  }
}
