.link {
  text-decoration: none;
  color: #2f80ed;
  transition: opacity .2s;
}

.link:hover {
  opacity: .8;
}

/*
  !вынес дефолтные стили для ссылок в один файл что бы не капипастить один и тот же код и было легче править
  !Ховер так же по брифу в проекте идет по умолчанию однотипный для всех ссылок
    ?поясню свои действия:
    * ховер для ссылок по брифу задан как дефолтное состояние, одинаковый для всех
    * что бы не копипастить один и тотже код каджоый ссылке отдельно я его задал миксом и присвоил нужным элементам
    * если нужны правки страндартных стилей для ссылок не придется менять в сотни местах, достаточно в одном файле
    * если нужны будут правки для ховера то не придется менять в кажом месте отдельно (так как это дефолтное поведение ховера для проекта), достаточно будет править в одном файле
    * если нужны будут индивидуальные свойства для элемента их можно задать через модификатор для определенного элемента
    я только учусь хотел бы узнать ваше опытное мнение, но как я понял БЭМ такой ход не запрещает и для проекта это только плюс. Спасибо
  */
