.kaufman {
  box-sizing: border-box;
  padding: 90px 40px;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}

@media (max-width: 767px) {
  .kaufman {
    padding: 60px 20px;
  }
}

@media (max-width: 424px) {
  .kaufman {
    padding: 60px 10px;
  }
}
