.feynman__subtitle {
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  /* grid-row: 2/3;
  grid-column: 2/3; */
}

@media(max-width: 1023px) {
  .feynman__subtitle {
    font-size: 28px;
  }
}

@media(max-width: 767px) {
  .feynman__subtitle {
    font-size: 26px;
  }
}

@media(max-width: 424px) {
  .feynman__subtitle {
    font-size: 22px;
  }
}
