/* блок с контентом */
.two-columns {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

@media (max-width: 767px) {
  .two-columns {
    flex-direction: column;
    align-items: start;
  }
}
