.kaufman__triangle {
  width: 877px;
  height: 877px;
  background: url(../../../images/kaufman-triangle.svg) no-repeat center/cover;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 0;
}

@media (max-width: 767px) {
  .kaufman__triangle {
    width: 650px;
    height: 650px;
    right: -150px;
  }
}

@media (max-width: 424px) {
  .kaufman__triangle {
    width: 550px;
    height: 550px;
    right: -150px;
  }
}
