.header__title {
  margin: 0;
  max-width: 730px;
  font-size: 102px;
  line-height: .95;
  font-weight: 700;
  position: relative;
  z-index: 2;
}

@media (max-width: 1023px) {
  .header__title {
    font-size: 82px;
  }
}

@media (max-width: 767px) {
  .header__title {
    max-width: 330px;
    font-size: 62px;
  }
}

@media (max-width: 424px) {
  .header__title {
    max-width: 280px;
    font-size: 53px;
  }
}
