/* page ========================================================================== */
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
/* /page ========================================================================= */


/* header ==========================================================================*/
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  /* выше указано сделать header флекс контейнером */
  align-items: center;
  /* выше указано выровнить дочернии элементы по вертикали по центру */
  position: relative;
  /* выше указали позиционировать элементы относительно header */
  margin-bottom: 100px;
  /* выше мы указали отспуп вниз от header */
  background-color: #f2f2f2;
}

/* позиционирование logo в header */
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  /* выше указано позиционирование логотипа в header */
  z-index: 2;
  /* выше указано отображать поверх фона */
}

/* заголовок header */
.header__title {
  width: 730px;
  /* выше указаны размеры блока */
  margin: 0 0 0 64px;
  /* выше указан отступ только впроаво */
  position: relative;
  z-index: 2;
  /* выше указано отображать поверх фона */
  font-size: 102px;
  line-height: 96px;
  font-weight: 700;
}

/* подзаголовок header */
.header__subtitle {
  margin: 0;
  /* выше мы сбросили отспупы по умолчанию */
  width: 388px;
  /* выше указаны размеры блока */
  position: absolute;
  bottom: 30px;
  left: 64px;
  /* выше указано позиционирование подзаголовка в header */
  z-index: 2;
  /* выше указано отображать поверх фона */
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
}

/* стили ссылкы в подзаголовке */
.header__link {
  text-decoration: none;
  color: #2f80ed;
}

/* фоновая картинка header */
.header__main-illustration {
  width: 765px;
  height: 608px;
  /* выше указаны размеры блока */
  background-image: url(../images/header-image.png);
  /* выше подулючена фоновая картинка */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* выше указаны свойства для фона */
  position: absolute;
  bottom: 0;
  right: 0;
  /* выше указано позиционирование в header */
  z-index: 1;
  /* выше указано отображать первым планом */
}

/* фоновы блок (декорация) */
.header__square-pic {
  height: 568px;
  width: 568px;
  /* выше указаны размеры блока */
  position: absolute;
  right: 0;
  top: 64px;
  /* выше указано позиционирование блока */
  z-index: 0;
  /* выше указано оторбражать вторым планом плане */
  background-color:#2f80ed;
}
/* /header ==========================================================================*/


/* content =============================================================================*/
/* /content =============================================================================*/


/* description ======================================================================*/
.description {
  display: flex;
  justify-content: center;
  /* выравниваем дочерний блок по центру горизонтали */
  margin-bottom: 100px;
  /* выше указан отступ вниз от блока description */
}

/* блок с контентом */
.two-columns {
  width: 80%;
  min-width: 784px;
  /* выше заданы размеры блока */
  display: flex;
  justify-content: space-between;
  /* выше мы разместили дочернии элементы по краям */
}

/* Заголовок */
.two-columns__brief {
  margin: 0;
  /* сбросили отспупы */
  width: 175px;
  /* размер элемента */
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  color: #2f80ed;
}

/* блок с параграфами */
.two-columns__main-text {
  width: 80%;
  /* размеры блока */
}

/* параграфы */
.two-columns__paragraph {
  margin: 0;
  /* убираем отспупы по умолчанию */
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}
.two-columns__paragraph:not(:last-child) {
  margin: 0 0 30px 0;
  /* выше установили отступ вниз 30px для всех кроме последнего */
}

/* акцентный текст */
.two-columns__span-accent {
  font-weight: 700;
  /* полужирный текст */
}
/* /description ======================================================================*/


/* digits ============================================================================*/
.digits {
  margin-bottom: 100px;
  /* отспуп вниз от блока digits */
}

/* Заголовок */
.section-title {
  width: 60%;
  /* размеры блока */
  margin: 0 auto 20px;
  /* выравнили блок по центру и отступ вниз */
  text-align: center;
  /* выравниваем текст по центру */
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
}

/* Подзаголовок */
.section-subtitle {
  width: 60%;
  /* размеры блока */
  margin: 0 auto;
  /* убираем отступы по умолчанию и выравнили блок по центру */
  text-align: center;
  /* выравниваем текст по центру */
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}

/* Список */
.table {
  width: 1100px;
  /* размер блока */
  padding: 0;
  margin: 0 auto;
  /* убираем отступы по умолчанию и выравнили блок по центру */
  display: flex;
  flex-wrap: wrap;
  /* делаем список флекс контейнером и разрешаем перенос элементов на новую строку */
  justify-content: space-between;
  /* выравниваем элементы списка по краям и задаем автоматические отспупы между ними */
}

/* Элемент списка */
.table__cell {
  width: 250px;
  /* размер элемента списка */
  list-style: none;
  /* убираем маркеры у елементов списка */
  margin-top: 60px;
  /* отспуп сверху у всех елетентов таблицы */
}

/* Заголовок элемента списка */
.table__heading {
  margin: 0;
  /* убираем отступы по умолчанию */
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

/* текст элемента списка */
.table__text {
  margin: 20px 0 0;
  /* убираем отступы по умолчанию и задаем отспуп вверх */
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
}
/* /digits ===========================================================================*/


/* feynman ============================================================================*/
.feynman {
  min-height: 890px;
  /* минимальная высота блока */
  background: #f2f2f2 url(../images/feynman.png) no-repeat left bottom/867px 637px;
  /* фоновое изоброжение */
  position: relative;
  /* позиционируем дочернии элементы относитель блока feynman */
}

/* Заголовок */
.feynman__title {
  width: 648px;
  /* размеры блока */
  margin: 0 auto 70px;
  /* выравнивание по центру и отспуп вниз */
  padding-top: 100px;
  /* отспуп сверху */
  text-align: center;
  /* текст по центру */
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
}

/* прдзаголовок */
.feynman__subtitle {
  margin: 0;
  /* убираем отступы по умолчанию */
  text-align: center;
  /* текст по центру */
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
}

/* ссылка */
.feynman__link {
  text-decoration: none;
  /* убираем стили по умолчанию */
  position: absolute;
  top: 50%;
  right: 48px;
  /* позиционирование справа по центру */
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
}
/* /feynman ===========================================================================*/


/* feynman ============================================================================*/
/* /feynman ===========================================================================*/


/* kaufman ============================================================================*/
/* /kaufman ===========================================================================*/


/* footer ============================================================================*/
/* /footer ===========================================================================*/







/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
