/* page ========================================================================== */
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
/* /page ========================================================================= */


/* header ==========================================================================*/
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  margin-bottom: 100px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  position: relative;
}

/* Логотип */
.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  background: url(../images/logo_place_header.svg) no-repeat center;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

/* заголовок header */
.header__title {
  width: 730px;
  margin: 0 0 0 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 700;
  position: relative;
  z-index: 2;
}

/* подзаголовок header */
.header__subtitle {
  margin: 0;
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
}

/* стили ссылкы в подзаголовке */
.header__link {
  text-decoration: none;
  color: #2f80ed;
}

/* фоновая картинка header */
.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* фоновы блок (декорация) */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color:#2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 0;
}
/* /header ==========================================================================*/


/* content =============================================================================*/
/* /content =============================================================================*/


/* description ======================================================================*/
.description {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

/* блок с контентом */
.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

/* Заголовок */
.two-columns__brief {
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  color: #2f80ed;
}

/* блок с параграфами */
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

/* параграфы */
.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}
.two-columns__paragraph:not(:last-child) {
  margin: 0 0 30px 0;
}

/* акцентный текст */
.two-columns__span-accent {
  font-weight: 700;
}
/* /description ======================================================================*/


/* digits ============================================================================*/
.digits {
  margin-bottom: 100px;
}

/* Заголовок */
.section-title {
  width: 60%;
  margin: 0 auto 20px;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
}

/* Подзаголовок */
.section-subtitle {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}

/* Список */
.table {
  width: 1100px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Элемент списка */
.table__cell {
  list-style: none;
  width: 250px;
  margin-top: 60px;
}

/* Заголовок элемента списка */
.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

/* текст элемента списка */
.table__text {
  margin: 20px 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
}
/* /digits ===========================================================================*/


/* feynman ============================================================================*/
.feynman {
  box-sizing: border-box;
  min-height: 890px;
  padding-top: 100px;
  background: #f2f2f2 url(../images/feynman.png) no-repeat left bottom/867px 637px;
  position: relative;
}

/* Заголовок */
.feynman__title {
  width: 648px;
  margin: 0 auto 70px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
}

/* прдзаголовок */
.feynman__subtitle {
  margin: 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
}

/* ссылка */
.feynman__link {
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
}
/* /feynman ===========================================================================*/


/* kaufman ============================================================================*/
.kaufman {
  box-sizing: border-box;
  padding: 90px 0;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}

/* фоновое изоброжение */
.kaufman__triangle {
  width: 877px;
  height: 877px;
  background: url(../images/kaufman-triangle.svg) no-repeat center/cover;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 0;
}

/* заголовок */
.section-title_theme_dark {
  position: relative;
  z-index: 1;
  color: #fff;
}

/* подзаголовок */
.section-subtitle_theme_dark {
  position: relative;
  z-index: 1;
  color: #fff;
}

/* список */
.table_theme_dark {
  position: relative;
  z-index: 1;
}

/* элемент списка */
.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
  color: #fff;
}
/* /kaufman ===========================================================================*/


/* footer ============================================================================*/
.footer {
  box-sizing: border-box;
  display: flex;
  min-height: 350px;
  padding: 60px 0 40px;
  background: #1f1f1f;
}

/* блок с колонками */
.footer__columns {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/* левая колонка */
.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* логотип */
.logo_place_footer {
  width: 183px;
  height: 35px;
  background: url(../images/logo_place_footer.svg) no-repeat center;
}

/* Копирайт */
.footer__author {
  margin: 18px 0;
  color: #fff;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
}

/* заголовок блока */
.footer__column-heading {
  margin: 0;
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
}

/* список блока */
.footer__column-links {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}

/* иконки соцсетей */
.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  vertical-align: middle;
}

/* ссылки */
.footer__column-link {
  text-decoration: none;
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
}
/* /footer ===========================================================================*/
