.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* header ==========================================================================*/

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  /* выше указано сделать header флекс контейнером */
  align-items: center;
  /* выше указано выровнить дочернии элементы по вертикали по центру */
  position: relative;
  /* выше указали позиционировать элементы относительно header */
  margin-bottom: 100px;
  /* выше мы указали отспуп вниз от header */
  background-color: #f2f2f2;
}

/* позиционирование logo в header */
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  /* выше указано позиционирование логотипа в header */
  z-index: 2;
  /* выше указано отображать поверх фона */
}

/* заголовок header */
.header__title {
  width: 730px;
  /* выше указаны размеры блока */
  margin: 0 0 0 64px;
  /* выше указан отступ только впроаво */
  position: relative;
  z-index: 2;
  /* выше указано отображать поверх фона */
  font-size: 102px;
  line-height: 96px;
  font-weight: 700;
}

/* подзаголовок header */
.header__subtitle {
  margin: 0;
  /* выше мы сбросили отспупы по умолчанию */
  width: 388px;
  /* выше указаны размеры блока */
  position: absolute;
  bottom: 30px;
  left: 64px;
  /* выше указано позиционирование подзаголовка в header */
  z-index: 2;
  /* выше указано отображать поверх фона */
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
}

/* стили ссылкы в подзаголовке */
.header__link {
  text-decoration: none;
  color: #2f80ed;
}

/* фоновая картинка header */
.header__main-illustration {
  width: 765px;
  height: 608px;
  /* выше указаны размеры блока */
  background-image: url(../images/header-image.png);
  /* выше подулючена фоновая картинка */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* выше указаны свойства для фона */
  position: absolute;
  bottom: 0;
  right: 0;
  /* выше указано позиционирование в header */
  z-index: 1;
  /* выше указано отображать первым планом */
}

/* фоновы блок (декорация) */
.header__square-pic {
  height: 568px;
  width: 568px;
  /* выше указаны размеры блока */
  position: absolute;
  right: 0;
  top: 64px;
  /* выше указано позиционирование блока */
  z-index: 0;
  /* выше указано оторбражать вторым планом плане */
  background-color:#2f80ed;
}

/* /header ==========================================================================*/


/* main =============================================================================*/

/* .content {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* /main =============================================================================*/

/* description ======================================================================*/
/* /description ======================================================================*/

/* digits ============================================================================*/
/* /digits ===========================================================================*/

/* feynman ============================================================================*/
/* /feynman ===========================================================================*/

/* feynman ============================================================================*/
/* /feynman ===========================================================================*/

/* kaufman ============================================================================*/
/* /kaufman ===========================================================================*/

/* footer ============================================================================*/
/* /footer ===========================================================================*/







/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
