.khan__book-container {
  max-width: 765px;
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 15px;
}

@media (max-width: 767px) {
  .khan__book-container {
    max-width: 470px;
    flex-direction: column;
  }
}
