.khan__book-pic {
  width: 470px;
  height: auto;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 767px) {
  .khan__book-pic {
    width: auto;
    height: auto;
    max-width: 100%;
    order: 2;
  }
}
